// Quasar SCSS (& Sass) Variables
$primary: #e50914;
$secondary: #26a69a;
$accent: #ff6b00;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
